---
// import Tour from '../components/Tour.astro';

import PageLayout from '../layouts/page.astro';

const pages = Astro.fetchContent('./**/*.md').sort((a, b) => (new Date(a.date).valueOf() - new Date(b.date).valueOf()));
const works = pages.filter(page => page.url.toString().includes('work'));
const personals = pages.filter(page => page.url.toString().includes('personal'));

---

<style>
    section {
        border: 5px solid red;
        margin: 1rem;
        padding: 1rem;
    }
</style>
    
<PageLayout>

    <main>
        <section>
            <h2>
                work
            </h2>

            <hr />

            {works.map(work => (
                <ul>
                    <li>
                        <h3>{work.title}</h3>
                        <a href={work.url}>link</a>
                    </li>
                </ul>
            ))}

            <a href="/work">see more work stuff</a>

        </section>

        <section>
            <h2>
                personal
            </h2>

            <hr />

            {personals.map(personal => (
                <ul>
                    <li>
                        <h3>{personal.title}</h3>
                        <a href={personal.url}>link</a>
                    </li>
                </ul>
            ))}

            <a href="/personal">see more personal stuff</a>

        </section>

    </main>
</PageLayout>
