---
import PageLayout from '../layouts/page.astro';

import WorkGrid from '../components/work-grid.astro';
import SketchbookGrid from '../components/sketchbook-grid.astro';

import { sortByDates } from '../helpers/index.js'

const pages = Astro.fetchContent('./**/*.md').sort((a, b) => sortByDates(a, b));
const works = pages.filter(page => page.url.toString().includes('work'));
const sketchbooks = pages.filter(page => page.url.toString().includes('sketchbook'));

---

<style>
    section {
        border: 5px solid red;
        margin: 1rem;
        padding: 1rem;
    }
</style>
    
<PageLayout>

    <main>

        <section>
            <h2>
                work
            </h2>

            <WorkGrid items={works} />

              <a href="/work">see more work stuff</a>
            </section>


        <section>
            <h2>
                sketchbook
            </h2>

            <SketchbookGrid items={sketchbooks} />

              <a href="/sketchbook">see more sketchbook stuff</a>
            </section>


    </main>
</PageLayout>