---
import PageLayout from '../layouts/page.astro';

import Grid from '../components/grid.astro';

import { sortByDates } from '../helpers/index.js'

const pages = Astro.fetchContent('./**/*.md').sort((a, b) => sortByDates(a, b));
const works = pages.filter(page => page.url.toString().includes('work'));
const sketchbooks = pages.filter(page => page.url.toString().includes('sketchbook'));

---

<style>
  section {
    padding: 2.5rem 5rem;
  }
</style>
      
<PageLayout>
  <section>
    <h2>work</h2>
    <hr />
    <Grid items={works} />
    <a href="/work">see more work stuff</a>
  </section>
  <section>
    <h2>sketchbook</h2>
    <hr />
    <Grid items={sketchbooks} />
    <a href="/sketchbook">see more sketchbook stuff</a>
  </section>
</PageLayout>