---
const {
  items
} = Astro.props;
---

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
  }

  li {
    aspect-ratio: 95 / 66;
    background: var(--thumbnailBackground);
    position: relative;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
</style>

<ul>    
  {items.map(item => (
    <li style={`--thumbnailBackground: ${item.thumbnail?.background || 'red'};`}>
        <header>
          <h3>{item.title}</h3>
          <a href={item.url}>link</a>
        </header>
        {item.thumbnail?.src && item.thumbnail?.alt
          ? <img src={item.thumbnail.src} alt={item.thumbnail.alt} />
          : null
        }
      </li>
  ))}
</ul>
