---
const {
  // title,
  segment
} = Astro.props

const pages = [
  'work',
  'sketchbook',
  'about',
  'contact'
]
---

<style>
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #FF8887;
    padding: var(--gap);
  }

  a[href='#content'] {
    width: 100%;
    text-align: center;
    color: var(--colorBackground);
    background: var(--colorPrimary);
    position: absolute;
    z-index: 1000;
    top: -3rem;
    left: 0;
    right: 0;
    font-size: 1rem;
    padding: .5rem;
    line-height: 2rem;
    transition: var(--transition);
  }

  a[href='#content']:focus {
    top: 0;
  }

  .logo {
    height: 5rem;
    width: auto;
    position: relative;
    z-index: 2;
  }

  nav {
    position: absolute;
    z-index: 1;
    left: var(--gap);
    right: var(--gap);
  }

  nav ul {
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav ul:after {
    content: '';
    display: block;
    flex: 1;
    order: 3;
  }

  nav ul li:nth-child(1) { order: 1; }
  nav ul li:nth-child(2) { order: 2; }
  nav ul li:nth-child(3) { order: 4; }
  nav ul li:nth-child(4) { order: 5; }

  .active {
    color: pink;
  }
</style>
  
<header>
  <a href="#content">skip to content</a>
  <a href="/">
    <h1 class="screenreader">Gabby Windham | {segment}</h1>
    <img class="logo" src="/images/logo.svg" alt="gabbywindham logo">
  </a>
  <nav>
    <ul>
      {pages.map(page => (
        <li>
          <a
            href={`/${page}`}
            class={segment === page && 'active'}
          >
            {page}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>