---
const {
  // title,
  segment
} = Astro.props

const pages = [
  'work',
  'sketchbook',
  'about'
]
---

<style>
  header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 10px solid black;
    padding: 1rem 2rem;
  }

  a[href='#content'] {
    width: 100%;
    text-align: center;
    color: var(--colorBackground);
    background: var(--colorPrimary);
    position: absolute;
    top: -3rem;
    left: 0;
    right: 0;
    font-size: 1rem;
    padding: .5rem;
    line-height: 2rem;
    transition: var(--transition);
  }

  a[href='#content']:focus {
    top: 0;
  }

  .logo {
    height: 5rem;
    width: auto;
  }

  nav ul {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .active {
    color: pink;
  }
</style>
  
<header>
  <a href="#content">skip to content</a>
  <a href="/">
    <img class="logo" src="/images/logo.svg" alt="gabbywindham logo">
  </a>
  <nav>
    <ul>
      {pages.map(page => (
        <li>
          <a
            href={`/${page}`}
            class={segment === page && 'active'}
          >
            {page}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>