---
const {
  // title,
  segment
} = Astro.props;

const pages = [
  'work',
  'personal',
  'about'
];

// const data = Astro.fetchContent('../pages/post/*.md');
---

<style>
  nav {
    display: flex;
    gap: 1em;
    /* max-width: min(100%, 68ch); */
  }

  .active {
    color: pink;
  }
</style>
  
<header>
  <nav>
    <a href="/">Home</a>
    <ul>
      {pages.map(page => (
        <li>
          <a
            href={`/${page}`}
            class={segment === page && 'active'}
          >
            {page}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>