---
const { title } = Astro.props;

import Page from './page.astro';
---

<style global>
  .markdown * {
    color: lime;
  }

  .markdown img {
    max-width: 100%;
  }
</style>

<Page title={title}>
  <main class='markdown'>
    <slot />
  </main>
</Page>
