---
const { title } = Astro.props;

import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

const path = Astro.request.url.href;
const segment = path.split('/').filter(Boolean)[2]?.toLocaleLowerCase() || 'home';
---

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- analytics -->
    <script data-goatcounter="https://gabby.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

    <!-- TODO : <SEO/> -->
    <title>{title}</title>

    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="stylesheet" href="/style/global.css">
    <link rel="sitemap" href="/sitemap.xml" />
  </head>

  <body class={segment}>

    <Header title={title} segment={segment} />

    <main id="content">
      <slot />
    </main>

    <Footer />

  </body>
</html>
